html {
  width: 100%;
  height: 100%;
  /* display: table; */
}

body {
  width: 100%;
  height: 100%;
  /* display:table-cell; */
}
/* body {
  width:100%;
  height:100%;
  display:table-cell;
} */

#video-container #video-stream{
  width: 100%;
  height: 100%;
  margin: 0px;
}